@import 'buttons.css';

html {
  background: url(../assets/stars.png) no-repeat center center fixed;
  background-size: contain;
  background-color: black;
}

body {
  color: white;
  font-size: 16px;
  text-align: center;
}