@import 'buttons.css';

:root {
  /* COLORS */
  --font-color-main: white;
  --font-color-warning: yellow;
  --font-color-danger: red;
}

html {
  /* background: url(../assets/stars.png) no-repeat center center fixed; */
  background-color: black;
}

body {
  color: white;
  font-size: 16px;
  text-align: center;
}