.stages {
  margin: 0 auto;
  height: 500px;
  max-width: 600px;
  background: url(/static/media/stars.bbe0356d.png) no-repeat center center fixed;
  background-color: var(--bg-color-main);
  background-size: 100% auto;
}

.stages__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}