.horizontal-travelling-wrapper {
  margin: 0 auto;
  width: 300px;
  text-align: center;  
  animation: horizontal-travelling-animation 1s infinite alternate;
}

@keyframes horizontal-travelling-animation {
  from {
    transform: translateX(-150px);
  }
  to {
    transform: translateX(150px);
  }
}