.horizontal-travelling-wrapper {
  margin: 0 auto;
  animation: horizontal-move 1s infinite alternate;
}

@keyframes horizontal-move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50vw);
  }
}
