.horizontal-travelling-wrapper {
  margin: 0 auto;
  width: 300px;
  text-align: center;  
  animation: horizontal-move 1s infinite alternate;
}

@keyframes horizontal-move {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(300px);
  }
}