.vertical-travelling-wrapper {
  margin: 0 auto;
  animation: vertical-move 1s infinite alternate;
}

@keyframes vertical-move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50vh);
  }
}
