.box-wrapper {
  display: block;
  width: 100%;
  height: 500px;
  position: relative;
}

.box-mobile {
  display: block;
  width: var(--button-width);
  height: var(--button-height);
  position: absolute;
  animation: box-mobile-animation 5s infinite alternate;
  z-index: 0;
}

.box-mobile .click-here-button {
  margin: 0;
}

.box-fixed {
  position: absolute;
  display: block;
  width: var(--button-width);
  height: var(--button-height);
  left: 200px;
  top: 0px;
  z-index: 1;
  font-size: 20px;
  cursor: pointer;
}

@keyframes box-mobile-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(400px);
  }
}
