.box-wrapper {
  display: block;
  width: 100%;
  height: 500px;
  border: 1px red solid;
  position: relative;
}

.box-mobile {
  display: block;
  width: 100px;
  height: 100px;
  background: #d9b8d9;
  position: absolute;
  transition: background 0.1s linear;
  animation: box-mobile-animation 5s infinite alternate;
  z-index: 0;
}

.box-mobile-cliclable {
  display: block;
  width: 100px;
  height: 100px;
  background: transparent;
  position: absolute;
  border: 1px red solid;
  animation: box-mobile-animation 5s infinite alternate;
  z-index: 2;
}

.box-mobile--overlaps {
  background: purple;
  position: absolute;
}

.box-fixed {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  left: 200px;
  z-index: 1;
}

@keyframes box-mobile-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(400px);
  }
}
